.accueil{
    width: 100%;
    height: 400vh;
    // background: linear-gradient(#3AE8C0, #7692FF);
    background: lightgrey;
    overflow: hidden;
    .containerAccueil{
        width: 70%;
        margin: auto;
        height: 100vh;
        position: relative;
        bottom: 0;
        display: flex;
        flex-direction: column;
        z-index: 0;
        animation: transitionAccueil 2s;
        h1{
            position: relative;
            top: 60%;
            font-family: oswald;
            font-weight: 400;
            font-size: 10vw;
            letter-spacing: -10px;
            text-transform: uppercase;
            color: #333333;
        }
        h2{
            position: relative;
            top: 47%;
            font-family: oswald;
            font-weight: 400;
            font-size: 8vw;
            letter-spacing: -6px;
            text-transform: uppercase;
            color: #48E5C2;
        }
        @keyframes transitionAccueil {
            from {
                opacity: 0;
                transform: translateY(-40px);
            }
            to{
                opacity: 1;
                transform: translateY(0);
            }
        }
    }
    @media screen and (min-width:768px) and (max-width: 1024px){
        .containerAccueil{
            width: 70%;
            display: flex;
            justify-content: center;
            h1{
                top: 40%;
                font-size: 10vw;
                letter-spacing: -6px;
            }
            h2{
                top: 34%;
                font-size: 9vw;
                letter-spacing: -6px;
            }
        }
    }
    @media screen and (min-width:350px) and (max-width: 768px){
        .containerAccueil{
            width: 90%;
            display: flex;
            justify-content: center;
            h1{
                top: 35%;
                font-size: 13vw;
                letter-spacing: -3px;
            }
            h2{
                top: 29%;
                font-size: 13vw;
                letter-spacing: -3px;
            }
        }
    }
    .containerPortfolio{
        width: 90%;
        margin: 10vh auto;
        #boxPortfolio{
            position: relative;
            height: 95vh;
            display: flex;
            align-items: center;
            .titlePortfolio{
                padding: 15vh 3vw;
                font-size: 9vw;
                font-family: oswald;
                font-weight: 300;
                text-transform: uppercase;
                letter-spacing: -10px;
                background: #00171F;
                color: white;
                position: relative;
                left: 4vw;
                z-index: 1;
                @media screen and (min-width:768px) and (max-width: 1024px){
                    letter-spacing: -5px;
                }
                @media screen and (min-width:350px) and (max-width: 768px){
                    writing-mode: vertical-rl;
                    text-orientation: upright;
                }
            }
            .contentPortfolio{
                padding: 5vw 3vw 5vw 10vw;
                font-family: oswald;
                background: #003459;
                color: white;
                z-index: 0;
                position: relative;
                right: 3vw;
                h3{
                    font-size: 3vw;
                    font-weight: 300;
                    margin: 2vh 0;
                }
                p{
                    font-family: roboto;
                    color: rgb(199, 199, 199);
                }
                @media screen and (min-width:350px) and (max-width: 768px){
                    h3{
                        font-size: 5vw;
                    }
                    p{
                        font-size: 3vw;
                    }
                }
            }
        }
        @media screen and (min-width:768px) and (max-width: 1024px){
            #boxPortfolio{
                height: 45vh;
            }
        }
        @media screen and (min-width:350px) and (max-width: 768px){
            #boxPortfolio{
                height: 60vh;
            }
        }
    }
    .containerProjet{
        width: 90%;
        margin: 10vh auto;
        #boxProjet{
            position: relative;
            height: 192vh;
            display: flex;
            flex-direction: row-reverse;
            align-items: flex-start;
            .titleProjet{
                padding: 15vh 3vw;
                font-size: 9vw;
                font-family: oswald;
                text-align: center;
                line-height: 20vh;
                font-weight: 300;
                text-transform: uppercase;
                letter-spacing: -10px;
                background: #00171F;
                color: white;
                position: relative;
                right: 3vw;
                top: 20vh;
                z-index: 1;
                @media screen and (min-width:768px) and (max-width: 1024px){
                    letter-spacing: -5px;
                    line-height: inherit;
                    top: 30vh;
                }
                @media screen and (min-width:350px) and (max-width: 768px){
                    writing-mode: vertical-rl;
                    text-orientation: upright;
                    padding: 10vh 0;
                    line-height: 12vh;
                    top: 5vh;
                }
            }
            .contentProjet{
                padding: 0vw 0vw 0vw 9vw;
                width: 100%;
                font-family: oswald;
                background: #003459;
                color: white;
                z-index: 0;
                position: relative;
                left: 4vw;
                .projets{
                    width: 30vw;
                    height: 50vh;
                    margin: 5vh 0;
                    transform-style: preserve-3d;
                    transition: all 0.5s ease;
                    .cardFace{
                        position: absolute;
                        width: 30vw;
                        height: 50vh;
                        background: rgb(255, 255, 255);
                        color: black;
                        backface-visibility: hidden;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        h3{
                            font-size: 1.75vw;
                            font-weight: 500;
                            margin: 2vh 0;
                            text-transform: uppercase;
                            text-align: center;
                        }
                    }
                    @media screen and (min-width:768px) and (max-width: 1024px){
                        .cardFace{
                            height: 30vh;
                            h3{
                                font-size: 20px;
                                text-align: center;
                            }
                            p{
                                font-size: 25px;
                                text-align: center;
                            }
                        }
                    }
                    @media screen and (min-width:350px) and (max-width: 768px){
                        .cardFace{
                            width: 45vw;
                            height: 30vh;
                            h3{
                                font-size: 10px;
                                text-align: center;
                            }
                            p{
                                font-size: 10px;
                                text-align: center;
                            }
                        }
                    }
                    .cardBack{
                        position: absolute;
                        width: 30vw;
                        height: 30vh;
                        background: white;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        backface-visibility: hidden;
                        transform: rotateY(180deg);
                        img{
                            width:100%;
                        }
                        .langage{
                            margin: 2vh 0;
                            display: flex;
                            align-items: center;
                            li{
                                list-style-type: none;
                                padding: 0 0.5vw;
                                img{
                                    width: 40px;
                                }
                            }
                        }
                        .btnVisite{
                            background: #00171F;
                            padding: 1vh 5vw;
                            top: 3vh;
                            text-decoration: none;
                            color: white;
                            text-transform: uppercase;
                            width: 60%;
                            margin: 1vh auto;
                            text-align: center;
                            cursor: pointer;
                        }
                    }
                    @media screen and (min-width:350px) and (max-width: 768px){
                        .cardBack{
                            width: 45vw;
                            .langage > li > img{
                                width: 25px;
                            }
                            .btnVisite{
                                font-size: 10px;
                            }
                        }
                    }
                    &:hover{
                        transform: rotateY(180deg);
                    }
                }
                @media screen and (min-width:768px) and (max-width: 1024px){
                    .projets{
                        height: 30vh;
                    }
                }
                @media screen and (min-width:350px) and (max-width: 768px){
                    height: 110vh;
                    top: 10vh;
                    .projets{
                        height: 30vh;
                        width: 45vw;
                    }
                }
            }
            @media screen and (min-width:768px) and (max-width: 1024px){
                top: 5vh;
                height: 75vh;
            }
            @media screen and (min-width:350px) and (max-width: 768px){
                top: 10vh;
                height: 150vh;
            }
        }
    }
    @media screen and (min-width:768px) and (max-width: 1024px){
        height: 285vh;
    }
    @media screen and (min-width:350px) and (max-width: 768px){
        height: 320vh;
    }
}

