.accueil{
    width: 100%;
    overflow: hidden;
    font-family: sans-serif;
    .containerAccueil{
        width: 70%;
        margin: auto;
        height: 100vh;
        bottom: 0;
        display: flex;
        flex-direction: column;
        animation: transitionAccueil 2s;
        h1{
            position: relative;
            top: 66%;
            font-weight: 400;
            font-family: sans-serif;
            font-size: 8vw;
            letter-spacing: -20px;
            text-transform: uppercase;
            color: rgb(0, 191, 255);
        }
        h2{
            position: relative;
            top: 57%;
            font-family: sans-serif;
            font-size: 8vw;
            font-weight: 100;
            letter-spacing: -19px;
            text-transform: uppercase;
            color: orangered;
        }
        @keyframes transitionAccueil {
            from {
                opacity: 0;
                transform: translateY(-40px);
            }
            to{
                opacity: 1;
                transform: translateY(0);
            }
        }
    }
    @media screen and (min-width:1024px) and (max-width: 1919px){
        .containerAccueil > h2{
            top: 63%;
        }
    }
    @media screen and (min-width:768px) and (max-width: 1023px){
        .containerAccueil{
            width: 70%;
            display: flex;
            justify-content: center;
            h1{
                top: 40%;
                font-size: 8vw;
                letter-spacing: -6px;
            }
            h2{
                top: 35%;
                font-size: 8vw;
                letter-spacing: -6px;
            }
        }
    }
    @media screen and (min-width:350px) and (max-width: 767px){
        .containerAccueil{
            width: 90%;
            height: 112vh;
            display: flex;
            justify-content: center;
            h1{
                top: 20%;
                font-size: 9vw;
                font-weight: 600;
                letter-spacing: -3px;
            }
            h2{
                top: 14%;
                font-size: 9vw;
                font-weight: 300;
                letter-spacing: -3px;
            }
        }
    }
    .containerPortfolio{
        width: 90%;
        margin: 5vh auto;
        #boxPortfolio{
            display: flex;
            align-items: center;
            .titlePortfolio{
                padding: 15vh 3vw;
                font-size: 5vw;
                font-family: sans-serif;
                font-weight: 100;
                text-transform: uppercase;
                letter-spacing: -10px;
                background: linear-gradient(135deg, black, transparent);
                backdrop-filter: blur(5px);
                color: white;
                position: relative;
                left: 4vw;
                z-index: 1;
                border-radius: 20px;
                box-shadow: 20px 20px 50px rgb(0 0 0 / 50%);
                border-top: 2px solid rgba(255, 255, 255, 0.5);
                border-left: 2px solid rgba(255, 255, 255, 0.5);                @media screen and (min-width:767px) and (max-width: 1023px){
                letter-spacing: -5px;
                }
                @media screen and (min-width:350px) and (max-width: 767px){
                    writing-mode: vertical-rl;
                    text-orientation: upright;
                    letter-spacing: 0;
                }
            }
            .contentPortfolio{
                padding: 5vw 3vw 5vw 10vw;
                font-family: sans-serif;
                background: dodgerblue;
                box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
                border-top: 2px solid rgba(255,255,255, 0.5);
                border-left: 2px solid rgba(255, 255, 255, 0.5);
                color: white;
                z-index: 0;
                position: relative;
                right: 4vw;
                border-radius: 20px;
                h3{
                    font-size: 3vw;
                    font-weight: 400;
                    margin: 2vh 0;
                }
                p{
                    font-family: sans-serif;
                    color: white;
                    font-size: 0.9vw;
                }
                @media screen and (min-width:350px) and (max-width: 767px){
                    h3{
                        font-size: 5vw;
                    }
                    p{
                        font-size: 3vw;
                    }
                }
            }
        }
        @media screen and (min-width:1024px) and (max-width: 1919px){
            #boxPortfolio{
                height: 100vh;
            }
        }
        @media screen and (min-width:768px) and (max-width: 1023px){
            #boxPortfolio{
                height: 85vh;
            }
        }
        @media screen and (min-width:350px) and (max-width: 767px){
            #boxPortfolio{
                height: 40vh;
            }
        }
    }
    .containerCV{
        display: flex;
        flex-direction: column;
        margin-bottom: 5vh;
        a{
            width: 30%;
            margin: auto;
            text-align: center;
            margin-top: 5vh;
            margin-bottom: 5vh;
            display: inline-block;
            padding: 10px 20px;
            background: orangered;
            text-decoration: none;
            color: white;
            text-transform: uppercase;
            border-radius: 10px;
            box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
            border-top: 1px solid rgba(255,255,255, 0.5);
            border-left: 1px solid rgba(255, 255, 255, 0.5);
            &:hover{
                background: #FCFFFC;
                color: orangered;
                border: 1px solid orangered;
                transition: 0.4s ease-in-out;
            }
        }
        img{
            width: 30%;
            margin: auto;
            box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
            border-top: 1px solid rgba(255,255,255, 0.5);
            border-left: 1px solid rgba(255, 255, 255, 0.5);
            &:hover{
                transform: scale(1.75);
                transform-origin: 50% 100%;
                transition: all 1s ease-in-out;
            }
        }
    }
    @media screen and (min-width:1024px) and (max-width: 1919px){
        height: 420vh;
    }
    @media screen and (min-width:768px) and (max-width: 1023px){
        height: 325vh;
    }
    @media screen and (min-width:350px) and (max-width: 767px){
        height: 315vh;
    }
}

