.accueil{
    width: 100%;
    height: 370vh;
    background: $mintCream;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
    .containerAccueil{
        width: 70%;
        margin: auto;
        height: 100vh;
        position: relative;
        bottom: 0;
        display: flex;
        flex-direction: column;
        z-index: 0;
        animation: transitionAccueil 2s;
        h1{
            position: relative;
            top: 74%;
            font-weight: 600;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 7vw;
            letter-spacing: -10px;
            text-transform: uppercase;
            color: $tartOrange;
        }
        h2{
            position: relative;
            top: 66%;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 7vw;
            letter-spacing: -15px;
            text-transform: uppercase;
            color: $nickel;
        }
        @keyframes transitionAccueil {
            from {
                opacity: 0;
                transform: translateY(-40px);
            }
            to{
                opacity: 1;
                transform: translateY(0);
            }
        }
    }
    @media screen and (min-width:1024px) and (max-width: 1919px){
        .containerAccueil > h2{
            top: 63%;
        }
    }
    @media screen and (min-width:768px) and (max-width: 1023px){
        .containerAccueil{
            width: 70%;
            display: flex;
            justify-content: center;
            h1{
                top: 40%;
                font-size: 8vw;
                letter-spacing: -6px;
            }
            h2{
                top: 35%;
                font-size: 8vw;
                letter-spacing: -6px;
            }
        }
    }
    @media screen and (min-width:350px) and (max-width: 767px){
        .containerAccueil{
            width: 90%;
            height: 112vh;
            display: flex;
            justify-content: center;
            h1{
                top: 20%;
                font-size: 9vw;
                font-weight: 600;
                letter-spacing: -3px;
            }
            h2{
                top: 14%;
                font-size: 9vw;
                font-weight: 300;
                letter-spacing: -3px;
            }
        }
    }
    .containerPortfolio{
        width: 90%;
        margin: 10vh auto;
        #boxPortfolio{
            position: relative;
            height: 70vh;
            display: flex;
            align-items: center;
            .titlePortfolio{
                padding: 15vh 3vw;
                font-size: 5vw;
                font-family: Arial, Helvetica, sans-serif;
                text-transform: uppercase;
                letter-spacing: -10px;
                background: $rifleGreen;
                color: white;
                position: relative;
                left: 4vw;
                z-index: 1;
                @media screen and (min-width:767px) and (max-width: 1023px){
                    letter-spacing: -5px;
                }
                @media screen and (min-width:350px) and (max-width: 767px){
                    writing-mode: vertical-rl;
                    text-orientation: upright;
                    letter-spacing: 0;
                }
            }
            .contentPortfolio{
                padding: 5vw 3vw 5vw 10vw;
                font-family: Arial, Helvetica, sans-serif;
                background: $nickel;
                color: white;
                z-index: 0;
                position: relative;
                right: 3vw;
                h3{
                    font-size: 3vw;
                    font-weight: 400;
                    margin: 2vh 0;
                }
                p{
                    font-family: Arial, Helvetica, sans-serif;
                    color: $mintCream;
                }
                @media screen and (min-width:350px) and (max-width: 767px){
                    h3{
                        font-size: 5vw;
                    }
                    p{
                        font-size: 3vw;
                    }
                }
            }
        }
        @media screen and (min-width:1024px) and (max-width: 1919px){
            #boxPortfolio{
                height: 100vh;
            }
        }
        @media screen and (min-width:768px) and (max-width: 1023px){
            #boxPortfolio{
                height: 85vh;
            }
        }
        @media screen and (min-width:350px) and (max-width: 767px){
            #boxPortfolio{
                height: 40vh;
            }
        }
    }
    .containerProjet{
        width: 90%;
        margin: 10vh auto;
        #boxProjet{
            position: relative;
            height: 192vh;
            display: flex;
            flex-direction: row-reverse;
            align-items: flex-start;
            .titleProjet{
                padding: 15vh 3vw;
                font-size: 5vw;
                font-family: Arial, Helvetica, sans-serif;
                text-align: center;
                line-height: 100px;
                text-transform: uppercase;
                letter-spacing: -10px;
                background: $rifleGreen;
                color: $mintCream;
                position: relative;
                right: 3vw;
                top: 20vh;
                z-index: 1;
                @media screen and (min-width: 2560px){
                    line-height: 125px;
                }
                @media screen and (min-width:750px) and (max-width: 1000px){
                    letter-spacing: -5px;
                    line-height: inherit;
                    top: 30vh;
                }
                @media screen and (min-width:350px) and (max-width: 750px){
                    writing-mode: vertical-rl;
                    text-orientation: upright;
                    letter-spacing: 0;
                    padding: 10vh 0;
                    line-height: 12vh;
                    top: 16vh;
                }
            }
            .contentProjet{
                padding: 0vw 0vw 0vw 12vw;
                width: 100%;
                font-family: Arial, Helvetica, sans-serif;
                background: $nickel;
                color: $mintCream;
                z-index: 0;
                position: relative;
                left: 4vw;
                .projets{
                    width: 30vw;
                    height: 50vh;
                    margin: 5vh 0;
                    transform-style: preserve-3d;
                    transition: all 0.5s ease;
                    .cardFace{
                        position: absolute;
                        width: 30vw;
                        height: 50vh;
                        background: $mintCream;
                        color: black;
                        backface-visibility: hidden;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        h3{
                            font-size: 1.5vw;
                            font-weight: 500;
                            margin: 2vh 0;
                            text-transform: uppercase;
                            text-align: center;
                        }
                    }
                    @media screen and (min-width:750px) and (max-width: 1000px){
                        .cardFace{
                            height: 30vh;
                            h3{
                                font-size: 15px;
                                text-align: center;
                            }
                            p{
                                font-size: 10px;
                                text-align: center;
                            }
                        }
                    }
                    @media screen and (min-width:350px) and (max-width: 750px){
                        .cardFace{
                            width: 45vw;
                            height: 30vh;
                            h3{
                                font-size: 10px;
                                text-align: center;
                            }
                            p{
                                font-size: 8px;
                                padding: 0 5vw;
                                text-align: center;
                            }
                        }
                    }
                    .cardBack{
                        position: absolute;
                        width: 30vw;
                        height: 50vh;
                        background: $mintCream;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        backface-visibility: hidden;
                        transform: rotateY(180deg);
                        img{
                            width:100%;
                        }
                        .langage{
                            margin: 2vh 0;
                            display: flex;
                            align-items: center;
                            li{
                                list-style-type: none;
                                padding: 0 0.5vw;
                                img{
                                    width: 40px;
                                }
                            }
                        }
                        .btnVisite{
                            background: $tartOrange;
                            padding: 1vh 5vw;
                            top: 3vh;
                            text-decoration: none;
                            color: $mintCream;
                            text-transform: uppercase;
                            width: 60%;
                            margin: 1vh auto;
                            text-align: center;
                            cursor: pointer;
                            &:hover{
                                background: $mintCream;
                                border: 1px solid $tartOrange;
                                color: $tartOrange;
                                transition: 0.5s ease;
                            }
                        }
                    }
                    @media screen and (min-width:750px) and (max-width: 1000px){
                        .cardBack{
                            height: 30vh;
                            .langage {
                                padding: 0;
                                li{
                                    padding: 0 0.5vw;
                                }
                            }
                            .btnVisite{
                                font-size: 10px;
                            }
                        }
                    }
                    @media screen and (min-width:350px) and (max-width: 750px){
                        .cardBack{
                            width: 45vw;
                            height: 30vh;
                            .langage{
                                padding: 0;
                                li{
                                    padding: 0 0.5vw;
                                    img{
                                        width: 25px;
                                    }
                                }
                            }
                            .btnVisite{
                                font-size: 10px;
                            }
                        }
                    }
                    &:hover{
                        transform: rotateY(180deg);
                    }
                }
                @media screen and (min-width:740px) and (max-width: 1000px){
                    .projets{
                        height: 30vh;
                    }
                }
                @media screen and (min-width:350px) and (max-width: 750px){
                    height: 110vh;
                    top: 10vh;
                    .projets{
                        height: 30vh;
                        width: 45vw;
                    }
                }
            }
            @media screen and (min-width:1024px) and (max-width: 1919px){
                top: 5vh;
            }
            @media screen and (min-width:768px) and (max-width: 1023px){
                top: 5vh;
                height: 75vh;
            }
            @media screen and (min-width:350px) and (max-width: 767px){
                top: 15vh;
                height: 150vh;
            }
        }
    }
    @media screen and (min-width:1024px) and (max-width: 1919px){
        height: 420vh;
    }
    @media screen and (min-width:768px) and (max-width: 1023px){
        height: 325vh;
    }
    @media screen and (min-width:350px) and (max-width: 767px){
        height: 315vh;
    }
}

