.containerContact{
    width: 100%;
    margin-top: 10vh;
    #boxContact{
        width: 90%;
        margin: auto;
        margin-bottom: 50px;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-family: sans-serif;
        h2{
            font-size: 9vw;
            text-align: center;
            font-family: sans-serif;
            font-weight: 100;
            text-transform: uppercase;
            letter-spacing: -15px;
            color: orangered;
            position: relative;
            animation: transitionIn 2s;
        }
        @keyframes transitionIn {
            from {
                opacity: 0;
                transform: translateY(-40px);
            }
            to{
                opacity: 1;
                transform: translateY(0);
            }
        }
        @media screen and (min-width:750px) and (max-width: 1000px){
            h2{
                font-size: 10vw;
            }
        }
        @media (min-width: 350px) and (max-width: 750px){
            h2{
                font-size: 10vw;
                font-weight: 400;
                letter-spacing: -3px;
                margin: 0;
            }
        }
        .containerBox{
            display: flex;
            width: 90%;
            margin-top: 5vh;
            animation: fadeIn 2s;
            #boxInfo {
                width: 50%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                background: linear-gradient(135deg, black, transparent);
                position: relative;
                height: 60vh;
                top: 7vh;
                left: 5vw;
                z-index: 2;
                color: #F4FFF8;
                overflow: hidden;
                backdrop-filter: blur(5px);
                border-radius: 20px;
                box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
                border-top: 2px solid rgba(255,255,255, 0.5);
                border-left: 2px solid rgba(255, 255, 255, 0.5);
                h3{
                    font-size: 2vw;
                    font-weight: 400;
                    text-transform: uppercase;
                    padding: 0 0 5vh 0;
                }
                .logoInfo{
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    padding: 0 0 0 2vw;
                    i {
                        font-size: 1.5vw;
                        display: flex;
                        padding: 2vh 0;
                        a{
                            font-family: Arial, Helvetica, sans-serif;
                            font-size: 1.25vw;
                            font-weight: 400;
                            padding: 0 1vw;
                            text-decoration: none;
                            color: $mintCream;
                            &:hover{
                                color: $tartOrange;
                            }
                        }
                    }
                }
                .logoSocial{
                    display: flex;
                    flex-direction: row;
                    align-items: flex-start;
                    padding: 5vh 0;
                    a > i{
                        font-size: 3vw;
                        color: $mintCream;
                        padding-right: 2vh;
                        &:hover{
                            color: $tartOrange;
                            transition: 0.4s ease-in-out;
                        }
                    }
                }
            }
            @media (min-width: 350px) and (max-width: 750px){
                #boxInfo{
                    height: 40vh;
                    top: 0;
                    width: 100%;
                    left: 0;
                    margin-bottom: 1vh;
                    z-index: 0;
                    h3{
                        font-size: 5vw;
                        padding: 2vh 0;
                    }
                    .logoInfo > i{
                        font-size: 4vw;
                        a{
                            font-size: 4vw;
                        }
                    }
                    .logoSocial > a > i{
                        font-size: 10vw;
                    }
                }
            }
            #boxForm{
                width: 100%;
                height: 75vh;
                display: flex;
                flex-direction: column;
                align-items: center;
                position: relative;
                right: 5vw;
                padding: 5% 5% 0 15%;
                background: linear-gradient(135deg, dodgerblue, rgb(129, 0, 129));                
                border-radius: 20px;
                box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
                border-top: 2px solid rgba(255,255,255, 0.5);
                border-left: 2px solid rgba(255, 255, 255, 0.5);
                h3{
                    font-size: 2vw;
                    font-weight: 400;
                    text-transform: uppercase;
                    padding: 0 0 5vh 0;
                    color: $mintCream;
                }
                form{
                    width: 90%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    .areaZone > textarea{
                        resize: none;
                        height: 20vh;
                    }
                    .btnForm {
                        padding: 2vh 0;
                    input{
                            padding: 1vh 5vw;
                            background: $tartOrange;
                            color: #FCFFFC;
                            border: 1px solid $tartOrange;
                            text-transform: uppercase;
                            border-radius: 10px;
                            box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
                            border-top: 1px solid rgba(255,255,255, 0.5);
                            border-left: 1px solid rgba(255, 255, 255, 0.5);
                            &:hover{
                                background: #FCFFFC;
                                color: $tartOrange;
                                border: 1px solid $tartOrange;
                                transition: 0.4s ease-in-out;
                            }
                        }
                    }
                }
            }    
            @media (min-width: 350px) and (max-width: 768px){
                #boxForm{
                    margin-top: 1vh;
                    padding: 0;
                    height: 70vh;
                    right: 0;
                    h3{
                        padding: 2vh 0;
                        font-size: 5vw;
                    }
                }
            }
        }
        @keyframes fadeIn {
            from{
                transform: scale(0.25);
            }
            to{
                transform: scale(1);
            }
        }
        @media screen and (min-width:350px) and (max-width: 768px){
            .containerBox{
                display: flex;
                flex-direction: column;
                top: 5vh;
            }
        }
    }
    @media screen and (min-width: 750px) and (max-width: 1000px){
        #boxContact{
            width: 100%;
            .containerBox{
                width: 100%;
                #boxInfo{
                    width: 90%;
                    height: 30vh;
                    top: 0;
                    z-index: 0;
                    left: 50%;
                    transform: translate(-50%);
                    h3{
                        font-size: 4vw;
                        padding: 0;
                    }
                    .logoInfo > i{
                        font-size: 2vw;
                        a{
                            font-size: 2vw;
                        }
                    }
                    .logoSocial{
                        margin: 0;
                        padding: 2vh 0;
                        a > i{
                            font-size: 5vw;
                            padding: 0 1vw 0 1vw;
                        }
                    }
                }
                #boxForm{
                    width: 90%;
                    margin: 2vh auto;
                    height: 55vh;
                    h3{
                        font-size: 4vw;
                    }
                }
            }
        }
    }
}
