footer{
    width:100%;
    bottom: 0;
    background: black;
    padding: 7px 0;
    .containerFooter{
        width:90%;
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 12px;
        color: white;
        .contactInfo > i {
            padding: 0 15px;
            a{
                text-decoration: none;
                color: white;
                font-size: 13px;
                font-family: Arial, Helvetica, sans-serif;
                font-weight: 400;
                &:hover{
                    color: $tartOrange;
                }
            }
            @media screen and (min-width: 350px) and (max-width: 768px){
                a{
                    font-size: 12px;
                }
            }
        }
    }
    @media screen and (max-width: 950px){
        .containerFooter{
            width: 90%;
            margin: auto;
            font-size: 10px;
            flex-direction: column-reverse;
            .contactInfo{
                padding-bottom: 10px;
            }
        }
    }
}