*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{ 
    width: 90%;
    margin: 0 auto;
    height: 10vh;
    box-shadow: 0px 25px 10px -25px grey;
    // position: absolute;
    // top: 0;
    // margin: 0;
    // background: transparent;
    // z-index: 2;
    nav{
        width: 70%;   
        margin: auto;
        padding: 10px 0;
        display: flex;
        text-decoration: none;
        justify-content: space-between;
        align-items: center;
        .logo{
            padding: 0 15px;
            img{
                width: 75px;
            }
        }
        .mainMenu{
            display: flex;
            font-family: Arial, Helvetica, sans-serif;
            li{
                list-style: none;
                padding: 0 15px;
                text-transform: uppercase;
                a{
                    text-decoration: none;
                    display: inline-block;
                    color: $rifleGreen;
                    font-size: 17px;
                    &:hover{
                        transform: scale(1.2);
                        transition: all 0.35s ease-in-out;
                        z-index: 1;
                        color: $tartOrange;
                    }
                }
                .social{
                    padding-left: 5px;
                }
            }
        }
        .openMenu{
            font-size: 2rem;
            margin: 20px;
            display: none;
            cursor: pointer;
            }
        .mainMenu .closeMenu, > i{
            font-size: 2rem;
            display: none;
            cursor: pointer;
        }
    }
    // .separateur{
    //     width: 75%;
    //     margin: auto;
    //     height: 1px;
    //     background-color: black;
    // }
    @media screen and (max-width: 950px){
        nav .mainMenu{
            height: 100vh;
            position: fixed;
            top: 0;
            right: 0;
            left: 0;
            z-index: 10;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: rgba(0, 0, 0, 0.9);
            transition: top 1s ease-in-out;
            display: none;
            color: $tartOrange;
            li{
                a{
                    padding: 10px 10px;
                    font-size: 30px;
                    font-weight: 300;
                    color: $mintCream;
                }
                .social{
                    padding-top: 30px;
                }
            }
        }
        nav .mainMenu .closeMenu{
            display: block;
            position: absolute;
            top: 20px;
            right: 20px;
        }
        nav .openMenu{
            display: block;
        }
        nav .mainMenu li a:hover{
            background: none;
            color: $tartOrange;
            font-size: 1,5rem;
        }
    }
}