* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  position: absolute;
  top: 0;
  margin: 0;
  background: transparent;
  z-index: 2;
}
header nav {
  width: 70%;
  margin: auto;
  padding: 10px 0;
  display: flex;
  text-decoration: none;
  justify-content: space-between;
  align-items: center;
}
header nav .logo {
  padding: 0 15px;
}
header nav .logo img {
  width: 75px;
}
header nav .mainMenu {
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
}
header nav .mainMenu li {
  list-style: none;
  padding: 0 15px;
  text-transform: uppercase;
}
header nav .mainMenu li a {
  text-decoration: none;
  display: inline-block;
  color: #3E442B;
  font-size: 17px;
}
header nav .mainMenu li a:hover {
  transform: scale(1.2);
  transition: all 0.35s ease-in-out;
  z-index: 1;
  color: #FE4A49;
}
header nav .mainMenu li .social {
  padding-left: 5px;
}
header nav .openMenu {
  font-size: 2rem;
  margin: 20px;
  display: none;
  cursor: pointer;
}
header nav .mainMenu .closeMenu, header nav > i {
  font-size: 2rem;
  display: none;
  cursor: pointer;
}
header .separateur {
  width: 75%;
  margin: auto;
  height: 1px;
  background-color: black;
}
@media screen and (max-width: 950px) {
  header nav .mainMenu {
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.9);
    transition: top 1s ease-in-out;
    display: none;
    color: #FE4A49;
  }
  header nav .mainMenu li a {
    padding: 10px 10px;
    font-size: 30px;
    font-weight: 300;
    color: #F4FFF8;
  }
  header nav .mainMenu li .social {
    padding-top: 30px;
  }
  header nav .mainMenu .closeMenu {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
  }
  header nav .openMenu {
    display: block;
  }
  header nav .mainMenu li a:hover {
    background: none;
    color: #FE4A49;
    font-size: 1, 5rem;
  }
}

footer {
  width: 100%;
  bottom: 0;
  background: black;
  padding: 7px 0;
}
footer .containerFooter {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: white;
}
footer .containerFooter .contactInfo > i {
  padding: 0 15px;
}
footer .containerFooter .contactInfo > i a {
  text-decoration: none;
  color: white;
  font-size: 13px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
}
footer .containerFooter .contactInfo > i a:hover {
  color: #FE4A49;
}
@media screen and (min-width: 350px) and (max-width: 768px) {
  footer .containerFooter .contactInfo > i a {
    font-size: 12px;
  }
}
@media screen and (max-width: 950px) {
  footer .containerFooter {
    width: 90%;
    margin: auto;
    font-size: 10px;
    flex-direction: column-reverse;
  }
  footer .containerFooter .contactInfo {
    padding-bottom: 10px;
  }
}

.accueil {
  width: 100%;
  height: 370vh;
  background: #F4FFF8;
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif;
}
.accueil .containerAccueil {
  width: 70%;
  margin: auto;
  height: 100vh;
  position: relative;
  bottom: 0;
  display: flex;
  flex-direction: column;
  z-index: 0;
  animation: transitionAccueil 2s;
}
.accueil .containerAccueil h1 {
  position: relative;
  top: 74%;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 7vw;
  letter-spacing: -10px;
  text-transform: uppercase;
  color: #FE4A49;
}
.accueil .containerAccueil h2 {
  position: relative;
  top: 66%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 7vw;
  letter-spacing: -15px;
  text-transform: uppercase;
  color: #6A7062;
}
@keyframes transitionAccueil {
  from {
    opacity: 0;
    transform: translateY(-40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@media screen and (min-width: 1024px) and (max-width: 1919px) {
  .accueil .containerAccueil > h2 {
    top: 63%;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .accueil .containerAccueil {
    width: 70%;
    display: flex;
    justify-content: center;
  }
  .accueil .containerAccueil h1 {
    top: 40%;
    font-size: 8vw;
    letter-spacing: -6px;
  }
  .accueil .containerAccueil h2 {
    top: 35%;
    font-size: 8vw;
    letter-spacing: -6px;
  }
}
@media screen and (min-width: 350px) and (max-width: 767px) {
  .accueil .containerAccueil {
    width: 90%;
    height: 112vh;
    display: flex;
    justify-content: center;
  }
  .accueil .containerAccueil h1 {
    top: 20%;
    font-size: 9vw;
    font-weight: 600;
    letter-spacing: -3px;
  }
  .accueil .containerAccueil h2 {
    top: 14%;
    font-size: 9vw;
    font-weight: 300;
    letter-spacing: -3px;
  }
}
.accueil .containerPortfolio {
  width: 90%;
  margin: 10vh auto;
}
.accueil .containerPortfolio #boxPortfolio {
  position: relative;
  height: 70vh;
  display: flex;
  align-items: center;
}
.accueil .containerPortfolio #boxPortfolio .titlePortfolio {
  padding: 15vh 3vw;
  font-size: 5vw;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  letter-spacing: -10px;
  background: #3E442B;
  color: white;
  position: relative;
  left: 4vw;
  z-index: 1;
}
@media screen and (min-width: 767px) and (max-width: 1023px) {
  .accueil .containerPortfolio #boxPortfolio .titlePortfolio {
    letter-spacing: -5px;
  }
}
@media screen and (min-width: 350px) and (max-width: 767px) {
  .accueil .containerPortfolio #boxPortfolio .titlePortfolio {
    writing-mode: vertical-rl;
    text-orientation: upright;
    letter-spacing: 0;
  }
}
.accueil .containerPortfolio #boxPortfolio .contentPortfolio {
  padding: 5vw 3vw 5vw 10vw;
  font-family: Arial, Helvetica, sans-serif;
  background: #6A7062;
  color: white;
  z-index: 0;
  position: relative;
  right: 3vw;
}
.accueil .containerPortfolio #boxPortfolio .contentPortfolio h3 {
  font-size: 3vw;
  font-weight: 400;
  margin: 2vh 0;
}
.accueil .containerPortfolio #boxPortfolio .contentPortfolio p {
  font-family: Arial, Helvetica, sans-serif;
  color: #F4FFF8;
}
@media screen and (min-width: 350px) and (max-width: 767px) {
  .accueil .containerPortfolio #boxPortfolio .contentPortfolio h3 {
    font-size: 5vw;
  }
  .accueil .containerPortfolio #boxPortfolio .contentPortfolio p {
    font-size: 3vw;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1919px) {
  .accueil .containerPortfolio #boxPortfolio {
    height: 100vh;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .accueil .containerPortfolio #boxPortfolio {
    height: 85vh;
  }
}
@media screen and (min-width: 350px) and (max-width: 767px) {
  .accueil .containerPortfolio #boxPortfolio {
    height: 40vh;
  }
}
.accueil .containerProjet {
  width: 90%;
  margin: 10vh auto;
}
.accueil .containerProjet #boxProjet {
  position: relative;
  height: 192vh;
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-start;
}
.accueil .containerProjet #boxProjet .titleProjet {
  padding: 15vh 3vw;
  font-size: 5vw;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  line-height: 100px;
  text-transform: uppercase;
  letter-spacing: -10px;
  background: #3E442B;
  color: #F4FFF8;
  position: relative;
  right: 3vw;
  top: 20vh;
  z-index: 1;
}
@media screen and (min-width: 2560px) {
  .accueil .containerProjet #boxProjet .titleProjet {
    line-height: 125px;
  }
}
@media screen and (min-width: 750px) and (max-width: 1000px) {
  .accueil .containerProjet #boxProjet .titleProjet {
    letter-spacing: -5px;
    line-height: inherit;
    top: 30vh;
  }
}
@media screen and (min-width: 350px) and (max-width: 750px) {
  .accueil .containerProjet #boxProjet .titleProjet {
    writing-mode: vertical-rl;
    text-orientation: upright;
    letter-spacing: 0;
    padding: 10vh 0;
    line-height: 12vh;
    top: 16vh;
  }
}
.accueil .containerProjet #boxProjet .contentProjet {
  padding: 0vw 0vw 0vw 12vw;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  background: #6A7062;
  color: #F4FFF8;
  z-index: 0;
  position: relative;
  left: 4vw;
}
.accueil .containerProjet #boxProjet .contentProjet .projets {
  width: 30vw;
  height: 50vh;
  margin: 5vh 0;
  transform-style: preserve-3d;
  transition: all 0.5s ease;
}
.accueil .containerProjet #boxProjet .contentProjet .projets .cardFace {
  position: absolute;
  width: 30vw;
  height: 50vh;
  background: #F4FFF8;
  color: black;
  backface-visibility: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.accueil .containerProjet #boxProjet .contentProjet .projets .cardFace h3 {
  font-size: 1.5vw;
  font-weight: 500;
  margin: 2vh 0;
  text-transform: uppercase;
  text-align: center;
}
@media screen and (min-width: 750px) and (max-width: 1000px) {
  .accueil .containerProjet #boxProjet .contentProjet .projets .cardFace {
    height: 30vh;
  }
  .accueil .containerProjet #boxProjet .contentProjet .projets .cardFace h3 {
    font-size: 15px;
    text-align: center;
  }
  .accueil .containerProjet #boxProjet .contentProjet .projets .cardFace p {
    font-size: 10px;
    text-align: center;
  }
}
@media screen and (min-width: 350px) and (max-width: 750px) {
  .accueil .containerProjet #boxProjet .contentProjet .projets .cardFace {
    width: 45vw;
    height: 30vh;
  }
  .accueil .containerProjet #boxProjet .contentProjet .projets .cardFace h3 {
    font-size: 10px;
    text-align: center;
  }
  .accueil .containerProjet #boxProjet .contentProjet .projets .cardFace p {
    font-size: 8px;
    padding: 0 5vw;
    text-align: center;
  }
}
.accueil .containerProjet #boxProjet .contentProjet .projets .cardBack {
  position: absolute;
  width: 30vw;
  height: 50vh;
  background: #F4FFF8;
  display: flex;
  flex-direction: column;
  align-items: center;
  backface-visibility: hidden;
  transform: rotateY(180deg);
}
.accueil .containerProjet #boxProjet .contentProjet .projets .cardBack img {
  width: 100%;
}
.accueil .containerProjet #boxProjet .contentProjet .projets .cardBack .langage {
  margin: 2vh 0;
  display: flex;
  align-items: center;
}
.accueil .containerProjet #boxProjet .contentProjet .projets .cardBack .langage li {
  list-style-type: none;
  padding: 0 0.5vw;
}
.accueil .containerProjet #boxProjet .contentProjet .projets .cardBack .langage li img {
  width: 40px;
}
.accueil .containerProjet #boxProjet .contentProjet .projets .cardBack .btnVisite {
  background: #FE4A49;
  padding: 1vh 5vw;
  top: 3vh;
  text-decoration: none;
  color: #F4FFF8;
  text-transform: uppercase;
  width: 60%;
  margin: 1vh auto;
  text-align: center;
  cursor: pointer;
}
.accueil .containerProjet #boxProjet .contentProjet .projets .cardBack .btnVisite:hover {
  background: #F4FFF8;
  border: 1px solid #FE4A49;
  color: #FE4A49;
  transition: 0.5s ease;
}
@media screen and (min-width: 750px) and (max-width: 1000px) {
  .accueil .containerProjet #boxProjet .contentProjet .projets .cardBack {
    height: 30vh;
  }
  .accueil .containerProjet #boxProjet .contentProjet .projets .cardBack .langage {
    padding: 0;
  }
  .accueil .containerProjet #boxProjet .contentProjet .projets .cardBack .langage li {
    padding: 0 0.5vw;
  }
  .accueil .containerProjet #boxProjet .contentProjet .projets .cardBack .btnVisite {
    font-size: 10px;
  }
}
@media screen and (min-width: 350px) and (max-width: 750px) {
  .accueil .containerProjet #boxProjet .contentProjet .projets .cardBack {
    width: 45vw;
    height: 30vh;
  }
  .accueil .containerProjet #boxProjet .contentProjet .projets .cardBack .langage {
    padding: 0;
  }
  .accueil .containerProjet #boxProjet .contentProjet .projets .cardBack .langage li {
    padding: 0 0.5vw;
  }
  .accueil .containerProjet #boxProjet .contentProjet .projets .cardBack .langage li img {
    width: 25px;
  }
  .accueil .containerProjet #boxProjet .contentProjet .projets .cardBack .btnVisite {
    font-size: 10px;
  }
}
.accueil .containerProjet #boxProjet .contentProjet .projets:hover {
  transform: rotateY(180deg);
}
@media screen and (min-width: 740px) and (max-width: 1000px) {
  .accueil .containerProjet #boxProjet .contentProjet .projets {
    height: 30vh;
  }
}
@media screen and (min-width: 350px) and (max-width: 750px) {
  .accueil .containerProjet #boxProjet .contentProjet {
    height: 110vh;
    top: 10vh;
  }
  .accueil .containerProjet #boxProjet .contentProjet .projets {
    height: 30vh;
    width: 45vw;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1919px) {
  .accueil .containerProjet #boxProjet {
    top: 5vh;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .accueil .containerProjet #boxProjet {
    top: 5vh;
    height: 75vh;
  }
}
@media screen and (min-width: 350px) and (max-width: 767px) {
  .accueil .containerProjet #boxProjet {
    top: 15vh;
    height: 150vh;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1919px) {
  .accueil {
    height: 420vh;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .accueil {
    height: 325vh;
  }
}
@media screen and (min-width: 350px) and (max-width: 767px) {
  .accueil {
    height: 315vh;
  }
}

.prestation {
  width: 100%;
  height: 230vh;
  background: #F4FFF8;
  overflow: hidden;
}
.prestation .containerPrestation {
  width: 90%;
  margin: 5vh auto;
  position: relative;
  top: 13vh;
  display: flex;
  flex-direction: column;
}
.prestation .containerPrestation #boxPrestation {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  color: #3E442B;
}
.prestation .containerPrestation #boxPrestation .titlePrestation {
  font-size: 9vw;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: -10px;
  color: #FE4A49;
  position: relative;
  animation: transitionIn 2s;
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .prestation .containerPrestation #boxPrestation .titlePrestation {
    font-size: 10vw;
  }
}
@media screen and (min-width: 350px) and (max-width: 767px) {
  .prestation .containerPrestation #boxPrestation .titlePrestation {
    font-size: 11vw;
    font-weight: 400;
    letter-spacing: -3px;
    margin: 5vh 0;
  }
}
@keyframes transitionIn {
  from {
    opacity: 0;
    transform: translateY(-40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.prestation .containerPrestation #boxPrestation p {
  font-size: 1.5vw;
  text-align: center;
  margin: 10vh 0;
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .prestation .containerPrestation #boxPrestation p {
    font-size: 2.5vw;
  }
  .prestation .containerPrestation #boxPrestation p span {
    font-size: 3.5vw;
    letter-spacing: 0;
  }
}
@media screen and (min-width: 350px) and (max-width: 767px) {
  .prestation .containerPrestation #boxPrestation p {
    font-size: 4vw;
  }
  .prestation .containerPrestation #boxPrestation p span {
    font-size: 3.5vw;
    letter-spacing: 0;
  }
}
.prestation .containerPrestation #boxPrestation h3 {
  margin-top: 8vh;
  letter-spacing: -2px;
  font-size: 2.5vw;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  opacity: 0;
}
@media screen and (min-width: 1024px) and (max-width: 1919px) {
  .prestation .containerPrestation #boxPrestation {
    font-size: 5vw;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .prestation .containerPrestation #boxPrestation h3 {
    font-size: 4vw;
    text-align: center;
    letter-spacing: 0;
  }
}
@media screen and (min-width: 350px) and (max-width: 767px) {
  .prestation .containerPrestation #boxPrestation h3 {
    font-size: 5vw;
    text-align: center;
    letter-spacing: 0;
  }
}
@keyframes clignote {
  50% {
    opacity: 0;
  }
}
@media screen and (min-width: 350px) and (max-width: 767px) {
  .prestation .containerPrestation #boxPrestation .clignote {
    font-size: 5vw;
  }
}
.prestation .containerPrestation #boxPrestation .contentPrestation {
  position: relative;
  top: 10vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  opacity: 0;
}
.prestation .containerPrestation #boxPrestation .contentPrestation .services {
  width: 375px;
  margin: 10px;
  padding: 20px;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  background: rgba(255, 255, 255, 0.1);
  overflow: hidden;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.prestation .containerPrestation #boxPrestation .contentPrestation .services i {
  font-size: 10vw;
  margin: 1vh auto;
}
.prestation .containerPrestation #boxPrestation .contentPrestation .services h4 {
  margin: 1vh auto;
  text-transform: uppercase;
  font-size: 1.5vw;
  font-weight: 400;
  text-align: center;
}
.prestation .containerPrestation #boxPrestation .contentPrestation .services p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1vw;
  margin: 1vh auto;
  list-style-type: none;
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .prestation .containerPrestation #boxPrestation .contentPrestation .services {
    width: 45%;
  }
  .prestation .containerPrestation #boxPrestation .contentPrestation .services i {
    font-size: 10vw;
  }
  .prestation .containerPrestation #boxPrestation .contentPrestation .services h4 {
    font-size: 2.5vw;
  }
  .prestation .containerPrestation #boxPrestation .contentPrestation .services p {
    font-size: 2vw;
  }
}
@media screen and (min-width: 350px) and (max-width: 767px) {
  .prestation .containerPrestation #boxPrestation .contentPrestation .services {
    width: 90%;
  }
  .prestation .containerPrestation #boxPrestation .contentPrestation .services i {
    font-size: 20vw;
  }
  .prestation .containerPrestation #boxPrestation .contentPrestation .services h4 {
    font-size: 5vw;
  }
  .prestation .containerPrestation #boxPrestation .contentPrestation .services p {
    font-size: 3vw;
  }
}
@media screen and (min-width: 2560px) {
  .prestation .containerPrestation #boxPrestation .contentPrestation .services {
    width: 555px;
  }
}
@media screen and (min-width: 1024px) and (max-width: 2559px) {
  .prestation .containerPrestation #boxPrestation .contentPrestation .services {
    width: 450px;
  }
}
@media screen and (min-width: 350px) and (max-width: 767px) {
  .prestation .containerPrestation #boxPrestation .contentPrestation {
    top: 5vh;
  }
}
.prestation .containerPrestation #linkContact {
  position: relative;
  top: 25vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}
.prestation .containerPrestation #linkContact h4 {
  font-size: 3vw;
  text-transform: uppercase;
  color: #3E442B;
  font-weight: 400;
}
.prestation .containerPrestation #linkContact .btnContact {
  background: #FE4A49;
  padding: 1vh 5vw;
  top: 3vh;
  text-decoration: none;
  color: #F4FFF8;
  text-transform: uppercase;
  margin: 2vh auto;
  text-align: center;
  cursor: pointer;
}
.prestation .containerPrestation #linkContact .btnContact:hover {
  background: #F4FFF8;
  color: #FE4A49;
  border: 1px solid #FE4A49;
  transition: 1s;
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .prestation .containerPrestation #linkContact {
    top: 15vh;
  }
}
@media screen and (min-width: 350px) and (max-width: 767px) {
  .prestation .containerPrestation #linkContact {
    top: 10vh;
  }
  .prestation .containerPrestation #linkContact h4 {
    font-size: 5vw;
    font-weight: 400;
  }
}
@media screen and (min-width: 2560px) {
  .prestation {
    height: 255vh;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1919px) {
  .prestation {
    height: 290vh;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .prestation {
    height: 200vh;
  }
}
@media screen and (min-width: 350px) and (max-width: 767px) {
  .prestation {
    height: 360vh;
  }
}

.containerContact {
  width: 100%;
  height: 150vh;
  background-color: #F4FFF8;
}
.containerContact #boxContact {
  width: 90%;
  margin: 0 auto;
  position: relative;
  top: 18vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}
.containerContact #boxContact h2 {
  font-size: 9vw;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: -10px;
  color: #FE4A49;
  position: relative;
  animation: transitionIn 2s;
}
@keyframes transitionIn {
  from {
    opacity: 0;
    transform: translateY(-40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@media screen and (min-width: 750px) and (max-width: 1000px) {
  .containerContact #boxContact h2 {
    font-size: 10vw;
  }
}
@media (min-width: 350px) and (max-width: 750px) {
  .containerContact #boxContact h2 {
    font-size: 11vw;
    font-weight: 400;
    letter-spacing: -3px;
    margin: 5vh 0;
  }
}
.containerContact #boxContact .containerBox {
  display: flex;
  width: 90%;
  margin: auto;
  position: relative;
  top: 15vh;
  animation: fadeIn 2s;
}
.containerContact #boxContact .containerBox #boxInfo {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #6A7062;
  position: relative;
  height: 60vh;
  top: 7vh;
  left: 5vw;
  z-index: 2;
  color: #F4FFF8;
}
.containerContact #boxContact .containerBox #boxInfo h3 {
  font-size: 2vw;
  font-weight: 400;
  text-transform: uppercase;
  padding: 0 0 5vh 0;
}
.containerContact #boxContact .containerBox #boxInfo .logoInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 0 0 2vw;
}
.containerContact #boxContact .containerBox #boxInfo .logoInfo i {
  font-size: 1.5vw;
  display: flex;
  padding: 2vh 0;
}
.containerContact #boxContact .containerBox #boxInfo .logoInfo i a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.25vw;
  font-weight: 400;
  padding: 0 1vw;
  text-decoration: none;
  color: #F4FFF8;
}
.containerContact #boxContact .containerBox #boxInfo .logoInfo i a:hover {
  color: #FE4A49;
}
.containerContact #boxContact .containerBox #boxInfo .logoSocial {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 5vh 0;
}
.containerContact #boxContact .containerBox #boxInfo .logoSocial a > i {
  font-size: 3vw;
  color: #F4FFF8;
  padding-right: 2vh;
}
.containerContact #boxContact .containerBox #boxInfo .logoSocial a > i:hover {
  color: #FE4A49;
  transition: 0.4s ease-in-out;
}
@media (min-width: 350px) and (max-width: 750px) {
  .containerContact #boxContact .containerBox #boxInfo {
    height: 40vh;
    top: 0;
    width: 100%;
    left: 0;
    margin-bottom: 1vh;
    z-index: 0;
  }
  .containerContact #boxContact .containerBox #boxInfo h3 {
    font-size: 6vw;
    padding: 2vh 0;
  }
  .containerContact #boxContact .containerBox #boxInfo .logoInfo > i {
    font-size: 4vw;
  }
  .containerContact #boxContact .containerBox #boxInfo .logoInfo > i a {
    font-size: 4vw;
  }
  .containerContact #boxContact .containerBox #boxInfo .logoSocial > a > i {
    font-size: 10vw;
  }
}
.containerContact #boxContact .containerBox #boxForm {
  width: 100%;
  height: 75vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  right: 5vw;
  padding: 5% 5% 0 15%;
  background: #3E442B;
}
.containerContact #boxContact .containerBox #boxForm h3 {
  font-size: 2vw;
  font-weight: 400;
  text-transform: uppercase;
  padding: 0 0 5vh 0;
  color: #F4FFF8;
}
.containerContact #boxContact .containerBox #boxForm form {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.containerContact #boxContact .containerBox #boxForm form .areaZone > textarea {
  resize: none;
  height: 20vh;
}
.containerContact #boxContact .containerBox #boxForm form .btnForm {
  padding: 2vh 0;
}
.containerContact #boxContact .containerBox #boxForm form .btnForm input {
  padding: 1vh 5vw;
  background: #FE4A49;
  color: #FCFFFC;
  border: 1px solid #FE4A49;
  text-transform: uppercase;
}
.containerContact #boxContact .containerBox #boxForm form .btnForm input:hover {
  background: #FCFFFC;
  color: #FE4A49;
  border: 1px solid #FE4A49;
  transition: 0.4s ease-in-out;
}
@media (min-width: 350px) and (max-width: 768px) {
  .containerContact #boxContact .containerBox #boxForm {
    margin-top: 1vh;
    padding: 0;
    height: 70vh;
    right: 0;
  }
  .containerContact #boxContact .containerBox #boxForm h3 {
    padding: 2vh 0;
    font-size: 6vw;
  }
}
@keyframes fadeIn {
  from {
    transform: scale(0.25);
  }
  to {
    transform: scale(1);
  }
}
@media screen and (min-width: 350px) and (max-width: 768px) {
  .containerContact #boxContact .containerBox {
    display: flex;
    flex-direction: column;
    top: 5vh;
  }
}
@media screen and (min-width: 750px) and (max-width: 1000px) {
  .containerContact #boxContact {
    width: 100%;
  }
  .containerContact #boxContact .containerBox {
    width: 100%;
  }
  .containerContact #boxContact .containerBox #boxInfo {
    width: 90%;
    height: 30vh;
    top: 0;
    z-index: 0;
    left: 50%;
    transform: translate(-50%);
  }
  .containerContact #boxContact .containerBox #boxInfo h3 {
    font-size: 4vw;
    padding: 0;
  }
  .containerContact #boxContact .containerBox #boxInfo .logoInfo > i {
    font-size: 2vw;
  }
  .containerContact #boxContact .containerBox #boxInfo .logoInfo > i a {
    font-size: 2vw;
  }
  .containerContact #boxContact .containerBox #boxInfo .logoSocial {
    margin: 0;
    padding: 2vh 0;
  }
  .containerContact #boxContact .containerBox #boxInfo .logoSocial a > i {
    font-size: 5vw;
    padding: 0 1vw 0 1vw;
  }
  .containerContact #boxContact .containerBox #boxForm {
    width: 90%;
    margin: 2vh auto;
    height: 55vh;
  }
  .containerContact #boxContact .containerBox #boxForm h3 {
    font-size: 4vw;
  }
}

@media screen and (min-width: 750px) and (max-width: 1000px) {
  .containerContact {
    height: 125vh;
  }
}
@media screen and (min-width: 350px) and (max-width: 750px) {
  .containerContact {
    height: 160vh;
  }
}

/*# sourceMappingURL=style.css.map */
